In [1]:
# The code was removed by Watson Studio for sharing.

In [2]:
df.head(10)

  Postal code           Borough                                  Neighborhood
0         M1A      Not assigned                                           NaN
1         M2A      Not assigned                                           NaN
2         M3A        North York                                     Parkwoods
3         M4A        North York                              Victoria Village
4         M5A  Downtown Toronto                    Regent Park / Harbourfront
5         M6A        North York             Lawrence Manor / Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government
7         M8A      Not assigned                                           NaN
8         M9A         Etobicoke                              Islington Avenue
9         M1B       Scarborough                               Malvern / Rouge

In [3]:
# check the shape of df_dataframe 
df.shape

(180, 3)

In [4]:
#rename the column as requested 

df.rename(columns={'Postal code':'PostalCode'}, inplace=True)

In [5]:
# create a new dataframe without 'Not assigned' values 

df_data = df[df['Borough'] != 'Not assigned'].reset_index(drop=True)
df_data.head()

  PostalCode           Borough                                  Neighborhood
0        M3A        North York                                     Parkwoods
1        M4A        North York                              Victoria Village
2        M5A  Downtown Toronto                    Regent Park / Harbourfront
3        M6A        North York             Lawrence Manor / Lawrence Heights
4        M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

In [6]:
# check the shape of df_data
df_data.shape

(103, 3)

In [7]:
# check how many unique values are in the column 'PostalCode'

len(df_data['PostalCode'].unique())

103

In [8]:
# there are not duplicate values in the column 'PostalCode', otherwise we will have run the following code

# df_unique_postal = df_data.groupby('PostalCode').apply(lambda x: x.sum()).reset_index()

In [9]:
# we can even sort the data on column 'PostalCode' for a fast visual check 

#df_sorted = df_unique_postal.sort_values('PostalCode', ascending=True)

In [10]:
# replace frontslash with comma 
df_data['Neighborhood'] = df_data.Neighborhood.str.replace('/',',')

In [11]:
# check if 'M5A' is in the df_data frame

found = df_data[df_data['PostalCode'].str.contains('M5A')]
print(found.count())

PostalCode      1
Borough         1
Neighborhood    1
dtype: int64

In [12]:
# check if 'Not assigned' value is present in 'Neighborhood' column

found = df_data[df_data['Neighborhood'].str.contains('Not assigned')]
print(found.count())

PostalCode      0
Borough         0
Neighborhood    0
dtype: int64

In [13]:
df_data.shape

(103, 3)

In [14]:

body = client_0300fc5a45584f96bdd6e5337a34cb86.get_object(Bucket='applieddatasciencecapstone-donotdelete-pr-xgqhdbkfmjrxtt',Key='Geospatial_Coordinates.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

# If you are reading an Excel file into a pandas DataFrame, replace `read_csv` by `read_excel` in the next statement.
df_coordinates = pd.read_csv(body)
df_coordinates.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [15]:
#rename the column as in df_data 

df_coordinates.rename(columns={'Postal Code':'PostalCode'}, inplace=True)

In [16]:
# check the size of the dataframe 
df_coordinates.shape

(103, 3)

In [17]:
# df_data and df_coordinates have in comon 'PostalCode' column, this help us to merge the two dataframes 

df_merged = df_data.merge(df_coordinates, on=['PostalCode'], how='inner')

In [18]:
df_merged.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park , Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor , Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park , Ontario Provincial Government",43.662301,-79.389494

In [19]:
df_merged.shape

(103, 5)